handlers=java.util.logging.ConsoleHandler
java.util.logging.SimpleFormatter.format="%2$tY-%2$tm-%2$td %1$2H:%2$tM:%2$tS %5$-5s %4$ %6$ %7$ %n"
java.util.logging.ConsoleHandler.formatter=java.util.logging.SimpleFormatter
java.util.logging.ConsoleHandler.level=SEVERE
#
# Vert.X log level declaration
#
.level=SEVERE
